.footer{
    position: absolute;
    bottom: 6px;
    left: 43%;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: large;
    letter-spacing: 0.1rem;
    color: rgb(60, 60, 60);
}